#app{
    display: flex;
    justify-content: center;
}
#docViewParent{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
}
.docViewParentFirstChildSection{
    width: 70%;
    //border: 2px solid red;
}
#pdfManager{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    //border: 2px solid red;
    margin-bottom: 5vh;

}
.docViewFilename{
    word-wrap: break-word;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#pdfContainer{
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    width: 50%;
    height: 100%;
    //position: relative;
    background-color: white;
    overflow-x: hidden;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;

}
#pdfViewer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 21px -3px rgba(0,0,0,0.73);
    //border: 2px solid orange;
    overflow-y: auto;
    padding-bottom: 1vh;

}
.canvasWrapper{

}
.pdfViwerNavCont{
    display: flex;
    flex-direction: row;
    //border: 2px solid red;
    justify-content: center;
    background-color:  rgb(248, 249, 250);
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    //box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.26);

}
.pdfViwernavBtn{
    font-size: 3vh;
    background-color: blue;
    width: fit-content;
    height: fit-content;
    padding: 0.5vh;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2vh;
    margin-right: 2vh;
    color: white;
    display: flex;
    justify-content: center;
}
.smartPanelOpenBtn{
    //border-radius: 10%;
    border-radius: 0px;
   //background-color: #DDDDDD;
    font-weight: solid;
    color:  white;
    height: fit-content;
    width: fit-content;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
}
.pdfViwernavBtn:hover{
    background-color: lightskyblue;
}
.currentAndLastPage{
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(248, 249, 250);
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.currentAndLastPageVselect{

    background-color: white;
}
canvas{
    width: 100%;
    height: 100%;
}
